@{
    ViewBag.Title = "Index";
}

<h2>LogIn</h2>

@Html.ActionLink("LogIn", "LogIn", "Account")
<br />
@Html.ActionLink("Register", "SignUp", "Account")
<br />
@Html.ActionLink("Add advert", "AddAdvert", "Advert")

<hr />